.advantages__slogan {
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.advantages__slogan:first-of-type {
  margin-top: 40px;
  margin-bottom: 32px;
}

.advantages__list {
  background-color: $light-grey;
  @include reset-list;
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 10px;
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.advantages__description {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
