.advantages__slogan {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.advantages__list {
  @include reset-list;
  background-color: $light-grey;
  padding-top: 78px;


  min-height: 785px;

  background-image: url("../img/pictures/iphone-screen-mobile@1x.png");
  background-repeat:  no-repeat;
  background-position:  center 540px;
  background-size: 155px 280px;
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.advantages__description {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 20px;
}

.advantages__article {
  &--hidden {
    display: none;
  }
}

.advantages__article-title {

}

.advantages__article-title {
  line-height: 24px;
}

.advantages__link {
  color: $red;
  text-decoration: underline;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    width: 660px;
    margin: 0 auto;
  }

  .advantages__slogan {
    padding-bottom: 0;
  }

  .advantages__list {
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding-left: 320px;
    padding-right: 20px;
    background-image: url("../img/pictures/iphone-screen-3-tablet@1x.png");
    background-size: 268px 480px;
    background-position: 20px 20px;

  }

  .advantages__title {
    text-align: left;
  }

  .advantages__description {
    text-align: left;
    padding-left: 0;
  }

}
