.advantages__slogan {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  padding: 0;
  text-align: center;
  padding-bottom: 35px;
  width: 210px;
  margin: 0 auto;
}

.advantages__list {
  @include reset-list;
  padding: 83px 20px 0 20px;
  min-height: 785px;
  margin-bottom: 40px;

  background-image: url("../img/pictures/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 505px;
  background-size: 155px 320px;

  position: relative;
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding-bottom: 16px;
}

.advantages__description {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 32px;
}

.advantages__article {
  &--hidden {
    display: none;
  }
}

.advantages__article-title {
  line-height: 24px;
}

.advantages__link {
  color: $red;
  text-decoration: underline;
}

.advantages__wrapper {
  background-image: linear-gradient(176deg, $white 0%, $white 8%, $light-grey 8%);
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .advantages__container {
    width: 660px;
    margin: 0 auto;
  }

  .advantages__wrapper {
    background-image: linear-gradient(176deg, $white 0%, $white 10%, $light-grey 10%);
  }

  .advantages__slogan {
    font-size: 40px;
    line-height: 55px;
    padding-bottom: 0;
    margin-bottom: -10px;
    width: 100%;
  }

  .advantages__title {
    padding-bottom: 12px;
    text-align: left;
  }

  .advantages__slogan:nth-of-type(2) {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 46px;
  }

  .advantages__list {
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding-left: 329px;
    background-image: url("../img/pictures/iphone-screen-3-tablet@1x.png");
    background-size: 268px 480px;
    background-position: 20px 7px;
  }

  .advantages__description {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 42px;
  }

  .advantages__article {
    &--hidden {
      display: block;
    }

    width: 620px;
    margin: 0 auto;
    background-image: url("../img/pictures/timer-tablet@1x.png");
    background-size: 238px 276px;
    background-repeat: no-repeat;
    background-position: 0 20;
  }

  .advantages__article-wrapper {
    width: 310px;
    padding-top: 55px;
    padding-bottom: 125px;
    margin-left: 310px;
  }

  .advantages__article-title {
    font-size: 30px;
    line-height: 36px;

    margin: 0;
    width: 170px;
    margin-bottom: 11px;
  }

  .advantages__text {
    margin: 0;
    padding-right: 12px;
    margin-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__slogan {
    font-size: 50px;
    line-height: 55px;
    font-weight: 300;
    background-color: $white;
  }

  .advantages__list {
    flex-direction: row;
    background-image: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 18px;
  }

  .advantages__container {
    width: 940px;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-top: 31px;
    padding-right: 37px;
    padding-bottom: 24px;
  }

  .advantages__description {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-left: 1px;
    padding-right: 30px;
  }

  .advantages__item {
    padding-top: 325px;
    background-repeat: no-repeat;
    background-size: 292px 302px;
    background-position: 3px -2px;
  }

  .advantages__item:first-child {
    background-image: url("../img/pictures/iphone-screen-1-desktop@1x.png");
  }

  .advantages__item:nth-child(2) {
    background-image: url("../img/pictures/iphone-screen-2-desktop@1x.png");
  }

  .advantages__item:last-child {
    background-image: url("../img/pictures/iphone-screen-3-desktop@1x.png");
  }

  .advantages__article {
    width: 940px;
    margin: 0 auto;
    background-image: url("../img/pictures/timer-desktop@1x.png");
    background-size: 298px 345px;
    background-repeat: no-repeat;
    background-position: 2px 5px;
  }

  .advantages__article-wrapper {
    width: 570px;
    padding-top: 100px;
    padding-bottom: 141px;
    margin-left: 370px;
  }

  .advantages__slogan:nth-of-type(2) {
    padding: 0;
    padding-left: 500px;
    padding-right: 500px;
    margin-bottom: 82px;
  }

  .advantages__slogan:nth-of-type(1) {
    margin-bottom: 5px;
  }

  .advantages__wrapper {
    background-image: linear-gradient(176deg, $white 0%, $white 13%, $light-grey 13%);
  }

  .advantages__article-title {
    line-height: 30px;
    width: 100%;
    margin-bottom: 24px;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 30px;
    padding-right: 0;
    margin-bottom: 29px;
  }

  .advantages__link {
    font-size: 18px;
    line-height: 30px;
  }

  .advantahes__container {
    background-color: $light-grey;
    margin-bottom: 183px;
  }
}
