.container {
  min-width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 960px;
  }
}
