.copyright__link {
  fill: $red;
  margin-left: 14px;
  margin-top: 7px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link:hover {
  fill: $dark-navy;
}

.copyright__link:active {
  fill: $slider-toggle-grey;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding: 0;
    margin-left: 16px;
    margin-top: 10px;
  }

  .copyright {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
