.copyright__link {
  fill: $red;
  margin: 0 18px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding: 0;
    margin-left: 20px;
  }
}
