.editors__list {
  @include reset-list;

  padding-left: 27px;
  padding-right: 17px;
}

.editors__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editors__item:nth-child(2) {
  border-top: 2px solid #e9ebec;
  border-bottom: 2px solid #e9ebec;
  padding-top: 27px;
  padding-bottom: 20px;
}

.editors__item:last-child {
  padding-top: 27px;
  padding-bottom: 20px;
}

.editors__icon {
  fill: $red;
  color: $red;
  width: 30px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .editors__label {
    display: block;
    flex-shrink: 2;
  }
}

@media (min-width: $desktop-width) {
  .editors__list {
    padding: 0;
  }

  .editors__item:first-child {
    padding-bottom: 1px;
  }

  .editors__item:nth-child(2) {
    padding-top: 19px;
    padding-bottom: 9px;
  }

  .editors__item:last-child {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 8px;
  }
}
