.filters__list {
  display: flex;
  justify-content: center;
}

.filters__icon {
  fill: $icons-grey;
}

.filters__item {
  &--current .filters__icon {
    fill: $red;
  }
}

.filters__radio-label {
  display: block;
  width: 46px;
  height: 46px;
}

.filters__item:first-child {
  margin-right: 5px;
}

.filters__item:last-child {
  margin-top: 10px;
  margin-right: 5px;
}

.filters__item:nth-child(2) {
  margin-right: 31px;
  margin-left: 27px;
}
