.filters__list {
  display: flex;
  justify-content: center;
}

.filters__icon {
  fill: $icons-grey;
}

.filters__item {
  &--current .filters__icon {
    fill: $red;
  }
}

.filters__item {
  margin-left: 21px;
  margin-right: 20px;
}

.filters__radio-label {
  display: block;
  width: 46px;
  height: 46px;
}
