.image-upload__text {
  line-height: 30px;
  text-align: center;
  margin: 0;
  width: 100%;
  background-color: $white;
}

.image-upload__text:nth-of-type(2) {
  padding-bottom: 41px;
}

.image-upload__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 22px;
  align-items: center;
}

.image-upload__form {
  width: 320px;
  margin: 0 auto;
  background-color: $light-grey;
  text-align: center;
}

.image-upload__current-image {
  padding-top: 20px;
  margin-bottom: 32px;
}

.image-upload__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 280px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid;
  padding: 16px 0;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;

  &--post {
    color: $red;
    border-color: $red;
    margin-bottom: 13px;
  }

  &--post:hover {
    color: $white;
    background-color: $red;
  }

  &--post:active {
    color: $active-menu-color;
    background-color: $red;
  }

  &--cancel {
    color: $dark-navy;
    border-color: $dark-navy;
    opacity: 0.1;
    margin-bottom: 44px;
  }

  &--cancel:hover {
    border-color: $navy-active;
    color: $navy-active;
  }
}

.image-upload__buttons-container {
  border-top: 2px solid $border-grey;
  padding-top: 38px;
}

.image-upload__range-input {
  background-color: $black;
}

.image-upload__range {
  margin-bottom: 19px;
}

.image-upload__editors {
  display: none;
}

@media (min-width: $tablet-width) {
  .image-upload__text {
    font-size: 18px;
  }

  .image-upload__text:nth-of-type(2) {
    padding-bottom: 45px;
  }

  .image-upload__button {
    border-width: 3px;

    &--post {
      margin-bottom: 22px;
    }
  }

  .image-upload__list,
  .image-upload__range {
    display: none;
  }

  .image-upload__editors {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .image-upload__form {
    width: 940px;
  }
}
