.image-upload__text {
  line-height: 30px;
  text-align: center;
  margin: 0;
  width: 100%;
  background-color: $white;
}

.image-upload__text:nth-of-type(2) {
  padding-bottom: 30px;
}

.image-upload__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-upload__form {
  width: 320px;
  margin: 0 auto;
  background-color: $light-grey;
  text-align: center;
  margin-bottom: 40px;
}

.image-upload__current-image {
  padding-top: 20px;
  margin-bottom: 40px;
}

.image-upload__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 280px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid;
  padding: 10px 0;
  background-color: transparent;
  border-radius: 30px;

  &--post {
    color: $red;
    border-color: $red;
    margin-bottom: 13px;
  }

  &--cancel {
    color: $dark-navy;
    border-color: $dark-navy;
    opacity: 0.1;
    margin-bottom: 40px;
  }
}

.image-upload__buttons-container {
  border-top: 2px solid $border-grey;
  padding-top: 38px;
}

.image-upload__range-input {
  background-color: $black;
}

@media (min-width: $tablet-width) {
  .image-upload__text {
    font-size: 18px;
  }

  .image-upload__text:nth-of-type(2) {
    padding-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .image-upload__form {
    width: 940px;
  }
}
