.map {
  position: relative;
  text-align: center;
}

.map__image {
  width: $mobile-width;
  margin: 0 auto;
}

.map::before {
  content: "";
  background-image: url("../img/style-help/bg-triangle-white-footer.svg");
  background-size: 100% 35px;
  background-position: 0 -1px;
  background-repeat: no-repeat;

  //display: block;
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  top: 0;
}

@media (min-width: $tablet-width) {
  .map::before {
    height: 67px;
    background-size: 100% 70px;
  }

  .map__image {
    width: $tablet-width;
  }
}


@media (min-width: $desktop-width) {
  .map::before {
    height: 127px;
    background-size: 100% 102px;
  }

  .map__image {
    width: $desktop-width;
  }
}
