.page-header__toggle {
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
  border: none;
  position: relative;
}

.page-header__toggle span {
  position: relative;
  display: block;
}

.page-header__toggle span::before,
.page-header__toggle span::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: $white;
  top: -3px;
  left: -2px;
}

.page-header__toggle span::before {
  transform: rotate(45deg);
}

.page-header__toggle span::after {
  transform: rotate(-45deg);
}

.page-header__logo[href]:hover g,
.page-header__logo[href]:hover path {
  fill: $red;
}

.page-header__logo[href]:active g,
.page-header__logo[href]:active path {
  fill: $active-menu-color;
}

.page-header__toggle:hover span::before,
.page-header__toggle:hover span::after,
.page-header__toggle:hover span {
  background-color: $red;
}

.page-header__toggle:active span::before,
.page-header__toggle:active span::after,
.page-header__toggle:active span {
  background-color: $red-active;
}

.page-header {
  display: block;
  background-color: $dark-navy;
}

.page-header--nojs .page-header__toggle {
  display: none;
}

.page-header--nojs .main-nav {
  display: block;
}

.page-header--nojs .page-header__container {
  background-color: $dark-navy;
}

.page-header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid $black;
}

.page-header__logo {
  fill: $white;
}

.page-header__logo-image {
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header {
    &--menu-closed {
      position: relative;
      z-index: 10;
      background-color: $transparent-grey;

      .page-header__container {
        border: none;
      }

      .page-header__toggle {
        width: 57px;
        display: block;
      }

      .main-nav {
        display: none;
      }

      span {
        display: block;
        height: 4px;
        background-color: $white;
      }

      span::before,
      span::after {
        transform: none;
        width: 57px;
        left: 0;
      }

      span::before {
        top: 10px;
      }

      span::after {
        top: -10px;
      }
    }

    &--menu-opened {
      position: relative;
      min-height: 70px;

      .page-header__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        background-color: $dark-navy;
      }

      .page-header__container {
        background-color: $dark-navy;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 110px;
  }

  .page-header__logo-image {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .page-header__container {
    padding: 27px 20px 42px;
  }

  .page-header__toggle {
    margin-top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $transparent-grey;
    position: relative;
    z-index: 5;

    &--menu-closed {
      .main-nav {
        display: block;
      }
    }
  }

  .page-header__logo-image {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .page-header__container {
    width: 150px;
    display: block;
    margin: 0;
    border: none;
    padding: 0;
    margin-top: 27px;
    margin-bottom: 44px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}
