.page-footer {
  line-height: 18px;
  text-align: center;

  &--hidden {
    display: none;
  }
}

.page-footer__link {
  display: block;
  margin-bottom: 40px;
}

.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    &--hidden {
      display: block;
    }
  }

  .page-footer__container {
    width: 660px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    width: 960px;
    padding: 0 10px;
    font-size: 18px;
  }
}
