.page-title {
  color: $white;

  background-color: $dark-navy;
  padding-top: 24px;
  background-image: url("../img/pictures/iphone-hand-mobile@1x.png"), url("../img/backgrounds/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 110px, center -70px;
  background-size: 255px 290px, 100% auto;
  min-height: 400px;
}

.page-title__title {
  text-align: center;
}
