.page-title {
  background-color: $dark-navy;
  color: $white;
  padding-top: 24px;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 320px auto;
}
