.promotion {
  background-color: $dark-navy;
  color: $white;
}

.promotion__button {
  width: 280px;
  color: $white;
  border: 4px solid $white;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  margin-top: 28px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.promotion__download-list {
  @include reset-list;
  margin: 0;
  margin-bottom: 18px;
}

.promotion__text {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
