.promotion {
  color: $white;
  background-color: $dark-navy;
  background-image: url("../../img/backgrounds/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position:  center -70px;
  background-size: 100% auto;
}

.promotion--main {
  background-image: url("../img/pictures/iphone-hand-mobile@1x.png"), url("../img/backgrounds/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position:  0 105px, center -70px;
  background-size: 250px 290px, 100% auto;
}

.promotion__wrapper {
  min-height: 665px;
  padding-top: 425px;

}

.promotion__button {
  width: 280px;
  color: $white;
  border: 4px solid $white;
  border-radius: 30px;
  display: block;
  text-align: center;
  padding: 10px 0;

  margin-bottom: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  margin-left: auto;
  margin-right: auto;
}

.promotion__download-list {
  @include reset-list;

  margin: 0 auto;
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.promotion__text {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 24px;
  font-weight: 300;
}

.promotion__item {
  padding-left: 16px;
  padding-right: 16px;
}

.promotion__title {
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  font-weight: 300;
  padding: 0 5px;
  padding-top: 23px;
  padding-bottom: 97px;

  margin: 0;

  &--hide {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .promotion__title {
    &--hide {
      display: block;
    }

    font-size: 40px;
    line-height: 45px;
    font-weight: 300;
    padding-bottom: 16px;
    width: 190px;
    margin: 0 auto;
  }

  .promotion--main {
    background-image: none;
  }

  .promotion__wrapper {
    width: 620px;
    min-height: 540px;
    margin: 0 auto;
    background-image: url("../img/pictures/iphone-hand-tablet@1x.png");
    background-size: 700px 545px;
    background-position: -35px -5px;
    background-repeat: no-repeat;
    padding-top: 0;
    padding-right: 320px;
  }

  .promotion {
    background-image: url("../img/backgrounds/bg-back-tablet@1x.jpg");
    background-size: 100% 730px;
    background-position: center -110px;
    padding-top: 80px;
    margin-bottom: 85px;
  }

  .promotion__text {
    font-size: 18px;
  }

  .promotion__title--mod {
    text-align: center;
    width: 495px;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 127px;
  }
}

@media (min-width: $desktop-width) {
  .promotion__wrapper {
    width: 940px;
    min-height: 678px;
    margin: 0 auto;
    padding-top: 95px;
    padding-right: 640px;
    padding-bottom: 29px;
    background-image: url("../img/pictures/iphone-hand-desktop@1x.png");
    background-size: 100% 550px;
    background-position: 70px 127px;
  }

  .promotion {
    background-image: url("../img/backgrounds/bg-back-desktop@1x.jpg");
    background-size: 100% 851px;
    background-position: center -95px;
  }

  .promotion__title {
    font-size: 50px;
    line-height: 58px;
  }

  .promotion__button {
    font-size: 21px;
    width: 302px;
    margin-bottom: 60px;
  }

  .promotion__title {
    width: 302px;
  }

  .promotion__download-list {
    margin-bottom: 40px;
  }

  .promotion--mod {
    padding-top: 50px;
  }

  .promotion__title--mod {
    text-align: center;
    width: 820px;
    padding-bottom: 86px;
  }
}
