.promotion {
  color: $white;
  background-color: $dark-navy;
  background-image: url("../img/backgrounds/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% auto;
  margin-top: -70px;

  &--main {
    background-image: url("../img/pictures/iphone-hand-mobile@1x.png"), url("../img/backgrounds/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: -1px 177px, center 0;
    background-size: 259px 290px, 100% auto;
    margin-top: -70px;
    padding-top: 463px;

    margin-bottom: 43px;
  }
}

.promotion__title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 300;
  padding: 0 10px;
  padding-top: 100px;
  padding-bottom: 83px;

  margin: 0;
  margin-bottom: 45px;

  &--main {
    display: none;
  }
}

.promotion__wrapper {
  min-height: 242px;
  background-color: $dark-navy;
  padding: 28px 20px 32px 20px;
}

.promotion__button {
  width: 100%;
  color: $white;
  border: 3px solid $white;
  border-radius: 30px;
  display: block;
  text-align: center;
  padding: 15px 0;

  margin-bottom: 31px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  margin-left: auto;
  margin-right: auto;
}

.promotion__button:hover {
  background-color: $white;
  color: $red;
}

.promotion__button:active {
  background-color: $white;
  color: $red-active;
}

.promotion__download-list {
  @include reset-list;

  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.promotion__text {
  margin: 0;
  text-align: center;

  font-weight: 300;
}

.promotion__item {
  padding-left: 18px;
  padding-right: 18px;
}

@media (min-width: $tablet-width) {
  .promotion__title {
    font-size: 40px;
    line-height: 47px;
    font-weight: 300;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0;

    &--main {
      display: block;
      padding: 0;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 32px;
    }
  }

  .promotion {
    background-image: url("../img/backgrounds/bg-back-tablet@1x.jpg");
    background-size: 100% 730px;
    background-position: center 0;
    padding-top: 205px;
    margin-bottom: 45px;
    margin-top: -110px;

    &--main {
      background-image: url("../img/pictures/iphone-hand-tablet@1x.png"), url("../img/backgrounds/bg-back-tablet@1x.jpg");
      background-size: 700px 545px, 100% 730px;
      background-position: -22px 181px, center 0;
      padding-top: 202px;
      margin-bottom: 47px;
    }
  }

  .promotion__wrapper {
    width: 340px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }

  .promotion__button {
    width: 300px;
    margin-bottom: 45px;
  }

  .promotion__text {
    font-size: 18px;
    padding-bottom: 112px;
  }

  .promotion__download-list {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promotion__container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .promotion__wrapper {
    width: 300px;
    padding: 0;
    padding-top: 225px;
    padding-bottom: 124px;
  }

  .promotion {
    background-image: url("../img/backgrounds/bg-back-desktop@1x.jpg");
    background-size: 100% 851px;
    background-position: center 0;
    margin-top: -116px;
    padding-top: 0;
    margin-bottom: 72px;

    &--main {
      background-image: url("../img/pictures/iphone-hand-desktop@1x.png"), url("../img/backgrounds/bg-back-desktop@1x.jpg");
      background-size: 1050px 645px, 100% 858px;
      background-position: 267px 213px, center 0;
    }
  }

  .promotion__title {
    font-size: 50px;
    line-height: 58px;
    padding-top: 125px;
    padding-bottom: 56px;

    padding-left: 450px;
    padding-right: 450px;

    &--main {
      padding: 0;
      text-align: center;
      margin-bottom: 55px;
    }
  }

  .promotion__button {
    font-size: 21px;
    margin-bottom: 66px;
  }

  .promotion__download-list {
    margin-bottom: 50px;
  }

  .promotion__text {
    padding-bottom: 0;
  }
}
