
.rates {
  background-image: url("../img/style-help/bg-triangle-white.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: $light-grey;
  padding-top: 90px;
}

.rates__list {
  border-collapse: collapse;
}

.rates__list th {
  width: 280px;
  background-color: $dark-navy;
  border-left: 2px solid $border-grey;
  border-right: 2px solid $border-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rates__list tr {
  width: 280px;
  border-right: 2px solid $border-grey;
}

.rates__title {
  color: $white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.rates__price {
  color: $white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.rates__option {
  line-height: 30px;
  text-transform: uppercase;
}

.rates__item {
  background-color: white;
  border: 2px solid $border-grey;
}

.rates__list th:nth-child(odd),
.rates__list td:nth-child(odd) {
  display: none;
}

@media (min-width: $tablet-width) {
  .rates {
    margin-bottom: 66px;
  }
}
