
.rates {
  background-image: url("../img/style-help/bg-triangle-white.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: $light-grey;
  padding-top: 90px;
  overflow: hidden;
}

.rates__table {
  border-collapse: collapse;
  width: 300%;
  margin: 0 auto;
  empty-cells: hide;
  transform: translateX(-33.3%);
  margin-bottom: 41px;
}

.rates__title {
  color: $white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.rates__price {
  color: $white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.rates__option {
  line-height: 30px;
  text-transform: uppercase;
}

.rates__cell {
  min-width: 280px;
  background-color: white;
  padding-top: 13px;
  padding-left: 24px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.rates__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rates__table-header {
  width: 280px;
  background-color: $dark-navy;
  border-left: 2px solid $border-grey;
  border-right: 2px solid $border-grey;

  padding: 15px 50px 22px 50px;
  text-align: center;
  position: relative;
}

.rates__table td,
.rates__table th {
  border: 2px solid $border-grey;
}

.rates__table th:first-child {
  display: none;
}

.rates__category {
  display: none;
}

.rates__toggles {
  padding-bottom: 46px;

  .slider__toggle {
    border-color: $light-grey;

    &--current {
      border-color: $dark-navy;
    }
  }
}

.rates__hit {
  background: url("../img/style-help/bg-hit.svg") no-repeat 0 0;
  position: absolute;
  width: 72px;
  height: 75px;
  top: 0;
  left: 0;
}

.rates__hit::before {
  content: "Хит";
  color: $white;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 30px;
  transform: rotate(-45deg);
  position: absolute;
  z-index: 2;
  top: 11px;
  left: 11px;
}

.rates__container {
  padding: 0 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .rates__hit {
    background: url("../img/style-help/bg-hit-tablet.svg") no-repeat 0 0;

    width: 60px;
    height: 60px;
  }

  .rates__toggles {
    display: none;
  }

  .rates__table th:first-child {
    display: table-cell;
    background-color: transparent;
    border: none;
  }

  .rates__table-header {
    width: 155px;
    padding: 11px 25px 7px 25px;
  }

  .rates__category:first-child {
    line-height: 30px;
    display: table-cell;
    background-color: $white;
  }

  .rates__title {
    font-size: 16px;
  }

  .rates__price {
    font-size: 18px;
  }

  .rates__wrapper {
    justify-content: center;
  }

  .rates {
    margin-bottom: 48px;
    padding-bottom: 70px;
    padding-top: 86px;
  }

  .rates__option {
    display: none;
  }

  .rates__container {
    width: 620px;
    overflow: visible;
    padding: 0;
  }

  .rates__table {
    width: 100%;
    margin: 0 auto;
    transform: none;
  }

  .rates__table td {
    width: 155px;
  }

  .rates__table tr {
    width: 620px;
  }

  .rates__cell {
    padding: 0;
    min-width: 155px;
  }

  .rates__category {
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 9px;
    text-align: left;
    padding-left: 14px;
  }

  .rates__hit::before {
    top: 3px;
    left: 9px;
  }
}

@media (min-width: $desktop-width) {
  .rates__container {
    width: 940px;
  }

  .rates__table th,
  .rates__table td {
    width: 235px;
  }

  .rates__table-header {
    padding: 15px 50px 21px 50px;
  }

  .rates__title {
    font-size: 18px;
  }

  .rates__price {
    font-size: 24px;
  }

  .rates__category:first-child {
    font-size: 18px;
  }

  .rates__hit {
    background: url("../img/style-help/bg-hit.svg") no-repeat 0 0;
    width: 74px;
    height: 73px;
  }

  .rates__hit::before {
    top: 11px;
    left: 11px;
  }

  .rates {
    padding-top: 144px;
    padding-bottom: 94px;
    margin-bottom: 68px;
  }

  .rates__list th {
    padding-top: 15px;
    padding-bottom: 19px;
  }

  .rates__category {
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 19px;
  }
}
