.site-list__link {
  color: $white;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: $dark-navy;
  color: $white;
}

.site-list__item {
  border-top: 1px solid $dark-grey;
  border-bottom: 1px solid $black;
}

