.slider__toggles {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  margin-bottom: 40px;
}

.slider__toggle {
  padding: 0;
  border: 0;
  width: 13px;
  height: 13px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid $white;
  background-color: $slider-toggle-grey;
  margin-left: 8px;
  margin-right: 8px;

  &--current {
    background-color: $white;
    padding: 3px;
    border-color: $dark-navy;
  }
}

@media (min-width: $tablet-width) {
  .slider__toggles {
    margin-bottom: 15px;
  }
}
