.social__list {
  @include reset-list;
  display: flex;
  justify-content: center;
}

.social__item {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 4px solid $border-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  fill: $red;
}

.social__item:nth-child(2) {
  margin: 0 10px;
}
