.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
}

.social__item {
  margin-left: 6px;
  margin-right: 6px;
}

.social__link {
  fill: $red;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 3px solid $border-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:hover {
  border-color: $dark-navy;
}

.social__link:active {
  border-color: $border-grey;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-left: -2px;
    margin-right: 11px;
  }
}

@media (min-width: $desktop-width) {
  .social__item {
    margin-left: 15px;
    margin-right: -2px;
  }
}
